{% extends './layout.html' %}

{% block content %}
<h4>2018 Countries</h4>

<h5 style="padding-top:20px">Add new country</h5>
<form action="/countries" method="POST" class="form-group">
  <div class="form-row">
    <div class="col-7">
      <label>Country</label>
      <input class="form-control" type="text" name="name"/>
    </div>
    <div style="padding-top:32px" class="col-2">
      <button class="btn btn-primary">Add Country</button>
    </div>
  </div>
</form>

<ul class="list-group">
{% for country in countries %}
  <li class="list-group-item">
    <a href="/countries/{{country.id}}">{{ country.name }}</a>
  </li>
{% endfor %}
</ul>

{% endblock %}
