<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/vendor/bootstrap/dist/css/bootstrap.css" />
  <!-- <script src="main.js"></script> -->
</head>
<body>
  <div class="container">
    <h1>2018 Olympic Medal Tracker</h1>
    <h3>Track all the medals right here</h3>
    <ul style="margin-bottom:10px" class="nav nav-tabs">
      <li class="nav-item">
        <a href="/" class="nav-link {% if path === '/' %}active{%endif%}" style="{% if path === '/' %}font-weight:bold{%endif%}">Home</a>
      </li>
      <li class="nav-item">
        <a href="/athletes" class="nav-link
        {% set regExp = r/athletes\/?\*?/ %}{%if regExp.test(path)%}active{% endif %}"
         style="{% set regExp = r/athletes\/?\*?/ %}{%if regExp.test(path)%}font-weight:bold{% endif %}"
        >Athletes</a>
      </li>
      <li class="nav-item">
        <a href="/countries" class="nav-link
        {% set regExp = r/countries\/?\*?/ %}{%if regExp.test(path)%}active{% endif %}"
        style="{% set regExp = r/countries\/?\*?/ %}{%if regExp.test(path)%}font-weight:bold{% endif %}"
        >Countries</a>
      </li>
    </ul>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
